<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreements</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>Agreements List</h1>
</header>

<div class="container">
    <h2>Agreements</h2>

    <table>
        <thead>
            <tr>
                <th>Agreement No</th>
                <th>Agreement Value</th>
                <th>Customer Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for agreement in agreements %}
            <tr>
                <td>{{ agreement.Agreement_No }}</td>
                <td>{{ agreement.Agreement_Value }}</td>
                <td>{{ agreement.Customer_Name }}</td>
                <td>
                    <a href="{{ url_for('agreement_details', agreement_id=agreement.Agreement_No) }}">
                        <button>View Details</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('logout') }}">
        <button>Logout</button>
    </a>

    <!-- Link to View Audit Records as a button -->
    <footer>
        <p>
            <a href="{{ url_for('audit') }}">
                <button>View Audit Records</button>
            </a>
        </p>
    </footer>
</div>

</body>
</html>
